window.bar {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

label {
    font-size: 13px;
    font-weight: bold;
}
.workspaces {
	padding: 3px;
}
.workspaces button.focused {
	background-color: @theme_selected_bg_color;
	color: @white;
}

/* slider { */
/* 	display: none; */
/* } */
/* slider:hover { */
/* 	display: block; */
/* } */

.client-title {
    color: @theme_selected_bg_color;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}
